*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}
body{
  background-color: rgb(12, 25, 65);
  color: white;
  letter-spacing: 1px;
  margin: 3% 10%;
}
header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}
input{
  outline: none;
  border: none;
  padding: .3rem;
  border-radius: .5rem;
  margin-right:.5rem ;
}
.prybtn{
  border: none;
  padding: .3rem;
  border-radius: .5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  font-size: 14px;
  font-weight: 100;
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero{
  min-height: 600px;
  margin-bottom: 2rem;
  background-position:top center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: 3rem;
}
.hero-content h1{
  letter-spacing: 5px;
}
.hero-content button{
  padding: .5rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  border: 3px solid rgb(227, 113, 31);
  border-radius: 2rem;
  margin-bottom: 1rem;
}
.hero-content p{
  text-align: justify;
}